html, body {
    margin: 0;
    padding: 0;
    background-image: url("mario.jpg");
    background-size: cover;
    background-position: center;
  }
  .heading{
    width: 90%;
    border-radius: 20px;
    font-size: 30px;
  }
  .info{
    width:80%;
    height: 80%;
    color: RGBA( 0, 0, 255, 1 );
    font-size: 22px;
    background-color: rgb(199, 199, 246, 0.8);
    border-radius: 20px;
  
  }
  canvas 
  {
    border:3px solid rgb(37, 3, 149);
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px; 
    animation-iteration-count: infinite;
}
@keyframes example {

    from {box-shadow: 1px 1px 38px rgb(217, 13, 13);}
    to {box-shadow: 1px 1px 38px white;}
  
  }
  video{
  
    border-radius:20px;
    box-shadow: 1px 1px 38px rgb(217, 13, 13);
  }
